.gitattributes  export-ignore
.gitignore      export-ignore
.gitkeep        export-ignore

*.md            export-ignore

/bricks/*/app/                export-ignore
/bricks/*/composer.*          export-ignore
/bricks/*/docker-compose.yaml export-ignore
